.head {

}

.body {
    
}

.hero-container {
    border: red 5px solid;
    color:white; 
    height: auto;
    min-width: 0;
    width: 100 vw;
    background-image: url("images/background.webp"); 
    background-position: 50% 100%;
    padding-top:0px;
    padding-bottom: 200px;
    display:flex; 
    flex-direction:column; 
    justify-content:center; 
    align-items: center;
  
   
}

.header-container {
    border: yellow 5px solid;
    margin:0; 
   /* position:fixed;*/
    top:0;
    display:flex;
    align-items: center;
    justify-content: space-around;
    width:100%;
}

.background-image {
    height: 400px;
    width: 1185px;
    background-image: url("header-desktop-8f1a8f3b-2880w.webp");
}

/*Hero Container Starts Here*/
.header-logo-container {
    border: hotpink 1px solid; 
    height: 50px;
    width: 200px;
    align-items: center;
    justify-self: center;
}

.random-logo-img {
    height:3px; 
    width:5px;    
}



.header-menu-container {
    border: 5px purple solid; 
    width:450px; 
    display:flex; 
    justify-content: space-evenly;
    
    
    }
    
.header-menu-text{
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    text-transform: uppercase;
    color: white;
    border: orange 5px solid; 
}

/*
.header-links-container {
    border: green 5px solid; 
}
*/

.hero-content-container {
    border:blue 3px solid; 
    font-family:'Montserrat';
    width:40%; 
    height:218px; 
    display:flex; 
    flex-direction: column; 
    text-align:center; 
    gap:24px; 
    margin-top:135px; 
    font-size:54px; 
    
}

.button-container-one {
    border: hotpink 3px solid; 
    display:flex; 
    justify-content: center;
}
.hero-button{
    font-size:16px; 
    border: white solid; 
    color:white; 
    padding: 8px 24px;   
    background-color: transparent;
}

/*Hero Container Ends Here*/

/* About Me Section Starts Here */

.about-me-container {
    border: turquoise 5px solid; 
    display:flex; 
    flex-direction: row;
    width: 60%; 
    height:300px; 
    margin-top:64px; 
    margin-bottom:64px; 
    margin-left:auto; 
    margin-right:auto;
    display:flex; 
    
}

.about-me-image-container{
    border: maroon 5px solid; 
    width:50%; 

}


.about-me-image-img{
    width:485px;
    height:290px;

}
.about-me-header {
    border: red 3px dashed; 
    height:auto; 
}

.about-me-header-one{
    border: yellow 3px dashed;
    font-family: "Montserrat";
    font-size:45px; 
    color: #223855;
}

.about-me-header-two {
    border: pink 3px dashed; 
    font-size: 20px; 
    color:#223855;
}

.about-me-blue-line {
    border: green 3px dashed; 
    height: 32px; 
}

.about-me-text-container{
    border: orange 3px dashed;
    background-color: #e9f6ff;
    width:50%;  
    padding-left:18px;
    font-family:"Montserrat";
    font-size:20px; 
   
}
.about-me-description-container{
    border:purple 3px dashed; 
    font-family:"Open Sans";
    font-size: 16px; 
    color:#587291;
}

.button-container-two{
    border: orange 3px solid;
    font-size:16px; 
}

.about-me-button {
    font-size:16px; 
    padding: 8px 24px; 
    border: #2b4a61 2px solid; 
    color:#2b4a61;
    background-color: #e9f6ff;
}

/* End of About Me Section */

/* Beginning of Let's Talk Section */

.lets-talk-section-main-container {
    border: blue 3px dashed; 
    background-image: url("images/background.webp");
    background-color:#5171a5;
    height:300px; 
    display:flex; 
    flex-direction:row; 
    justify-content: center;
    gap:32px; 
    padding-top:64px; 
    padding-bottom:64px; 
   
}


.lets-talk-section-left-right-container{
    border: peachpuff 3px dashed; 
    display:flex; 
    justify-content: center;
    gap:32px; 
    width:1500px; 
}

.left-side-container {
    border: maroon 3px dashed; 
    color:white; 
    font-size: 45px;
    font-family: "Montserrat";
    display:flex; 
    flex-direction: column;
    width:30%; 
    margin-left:0px;
    background-color:#315174;
    
     
}

.lets-talk-section-header-and-text-container{
    border: green 3px solid; 
    height:140px; 
    
}

.lets-talk-section-heading-container {
    border: hotpink 3px solid;
    margin-bottom:32px;  
}

.right-side-container{
    border:gray 8px solid; 
    width:30%; 
    display:flex; 
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
    margin-bottom:0px; 
}

/*
.right-side-container-text-container-text{
    border: red 3px dashed; 
    color:whitesmoke; 
    font-size:16px; 
    width:447px; 
    height:32px; 
    gap:8px; 
    margin-bottom:16px;  
}
*/
.button-container-three {
    border: orange 3px dashed; 
    display:flex; 
    align-items: flex-start;  
    
}
.lets-talk-button{ 
    padding: 8px 24px; 
    font-size:16px;  
    border: whitesmoke 2px solid; 
    color: whitesmoke; 
    background-color:#5171a5;
     
}

 .lets-talk-container-text-container{
     border: turquoise 3px dashed;
     font-family: "Montserrat"; 
     font-size:16px; 
 }

 .services-main-container {
     border:red 2px solid;
     height:250px;  
     width:60%;
     margin-left:330px; 
     margin-top:64px; 
     margin-bottom:128px; 
     font-family:'Montserrat';
     font-size: 45px; 
     display:flex; 
     flex-direction:column; 
     align-items:center;
     padding-bottom:24px; 
 }

 .services-main-container-header-container{
     border:yellow 2px solid;      
 }
 .three-images-container {
     border: green 2px solid; 
     height:150px; 
     width:900px;
     display:flex; 
     justify-content: center; 
     gap:16px; 
     margin-top:48; 
    
 
 }

 .lady-and-bridge-image {
     border: purple 2px solid; 
     height:150px; 
 }

 .computer-image {
     border: purple 2px solid; 
     height: 150px; 
 }

 .notebooks-image {
     border: purple 2px solid; 
     height:150px; 
 }

 .services-button-container {
     border: orange 3px solid; 
     margin-top:32px; 
     height:64px; 
     padding-top:0px; 
     display:flex; 
     align-items: flex-start;
 }

 .services-button {
    padding: 8px 24px; 
    font-size:16px;  
    border: black 2px solid; 
    color: black;
    background-color:whitesmoke;      
 }

 .lets-talk-label{
     border:yellow 2px solid; 
     font-family:"Open Sans"
     font-size: 16px; 
 }

 
 .label-container {
     border: hotpink 3px solid; 
     display:flex; 
     flex-direction:column; 
     justify-content: space-evenly;
 }
 